@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

.hamMenu {
  /* border: 1px solid green; */
  position: relative;
}
.hamMenu__menu {
  /* display: grid;
  grid-template-columns: auto 1fr; */
}

.full {
  /* height: 400px; */
}

.hamMenu__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* opacity: 0.9; */
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */

  background: #263238;
  width: 100%;
  color: white;
  font-family: Lobster;
  height: 60px;
}

.hamMenu__contentMenu {
  padding-top: 3rem;
}

.hamMenu__container img {
  height: 40%;
  padding-left: 20px;
}

.hamMenu__menu--desktop {
  display: none;
}

.menuItemsDesktop {
  /* background: #263238; */
  /* color: white; */
  /* display: flex; */
  /* width: 100%; */
}

@media (min-width: 576px) {
  .hamMenu__contentMenu {
    padding-top: 0;
  }
  .hamMenu__menu {
    display: none;
  }
  .hamMenu__menu--desktop {
    display: grid;
    height: 4rem;
    display: grid;
    grid-template-columns: auto 4fr;
  }

  .hamMenu__menu--img {
    width: 120px;
    background: #263238;
    height: 100%;
    padding-left: 1rem;
  }
  .hamMenu__menu--buttons {
    display: grid;
    grid-template-columns: min-content repeat(4, auto) min-content;
    align-self: center;
    font-size: 0.81rem;
  }

  .hamMenu__menu--buttons1 {
    display: grid;
    background: #263238;
    height: 100%;
  }
}
