.home {
  text-align: left;
  width: 100vw;
}

.home__firstSection {
  position: relative;
  height: 51.4vw;
  /* min-height: 219px; */
  /* max-height: 900px; */
  /* flex-shrink: 0; */
  /* flex-grow: 0; */
  /* display: grid; */
  /* grid-template-rows: auto; */
  /* width: auto; */
  /* min-height: 300px; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: 50% 50%; */
  /* background-color: red; */

  /* background-position: center center; */
  /* background-size: 100% auto; */
  /* display: grid;
  grid-template-rows: 100%; */
  /* background-repeat: no-repeat; */
  /* background-position: 100% 50%; Sets reference point to scale from */
  /* background-size: cover; */
  /* Sets background image to cover entire element */
  /* width: 100%; */
}

.home__firstSection__image {
  background-image: url("http://www.milner-smeaton.co.uk/images/ms1920-crop-u949113.jpg?crc=4169677626");
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  color: #808990;

  padding-left: 3rem;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  background-size: cover;
  background-size: 120% 120%;
}

.home__para {
  padding: 0 2rem;
}
