.home {
  text-align: left;
  width: 100vw;
}

.home__firstSection {
  position: relative;
  height: 51.4vw;
}

.home__firstSection__image {
  background-image: url("http://www.milner-smeaton.co.uk/images/ms1920-crop-u949113.jpg?crc=4169677626");
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
  color: #808990;
  padding-left: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  background-size: cover;
  background-size: 120% 120%;
}

.home__para {
  padding: 0 2rem;
}
